In [72]:
mat = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9], [10, 11, 12, 13, 14]]
#La seguente struttura dati è una tabella. -> Lista di liste
mat[2][4]

14

In [9]:
import math
print(math.sin(5)) #seno di 5
print(math.cos(11)) #coseno di 11
print(math.factorial(20)) #fattoriale di 20
print(math.pi) #pi greco

-0.9589242746631385
0.004425697988050785
2432902008176640000
3.141592653589793

In [30]:
help(math.degrees)

Help on built-in function degrees in module math:

degrees(x, /)
    Convert angle x from radians to degrees.

In [11]:
math.degrees(math.pi) #Note: radians values are pi/180 * degree_values.

180.0

In [52]:
import numpy as np
lst = [2000, 5500, 7200, 4320, 1280, 1900, 2500, 3900, 6410, 8150, 7100, 5350]
lst = np.array(lst)
print(lst.max())
print(lst.min())

8150
1280

In [74]:
print(np.argmax(lst))
print(np.argmin(lst))
#posizioni di massimo e minimo nell'array

9
4

In [60]:
#Visualizzare i mesi in cui si sono venduti più di 4999 oggetti
i = 0 #init
while i < len(lst):
    if lst[i] > 4999:
        print(lst[i])
    i += 1

5500
7200
6410
8150
7100
5350

In [44]:
#Contare quanti mesi si sono venduti più di 4999 oggetti
i = 0 #init
contatore = 0
while i < len(lst):
    if lst[i] > 4999:
        contatore += 1
    else:
        contatore += 0
    i += 1
print(contatore)

6

In [46]:
#Visualizzare i mesi in cui si sono venduti meno di 3000 oggetti
i = 0 #init
while i < len(lst):
    if lst[i] < 3000:
        print(lst[i])
    i += 1

2000
1280
1900
2500

In [78]:
filtro_3k = lst < 3000
vendite_3k = lst[filtro_3k]
print(vendite_3k)
print(vendite_3k.shape) #Numero dei mesi dove si è venduto meno di 3000 oggetti

[2000 1280 1900 2500]
(4,)

In [80]:
lst.mean()

4634.166666666667

In [82]:
import pandas as pd
fatturati_dict = {1997: 12_000, 1998: 15_000, 1999: 20_000,
                  2000: 23_000, 2001: 25_000,
                  2002: 17_000, 2003: 14_000, 2004: 21_000}
fatturati_series = pd.Series([12_000, 15_000, 20_000, 23_000, 25_000, 17_000, 14_000, 21_000],
                             index=range(1997, 2005))
print(fatturati_dict[1997])
print(fatturati_series[1997])
print(fatturati_dict)
print(fatturati_series)

12000
12000
{1997: 12000, 1998: 15000, 1999: 20000, 2000: 23000, 2001: 25000, 2002: 17000, 2003: 14000, 2004: 21000}
1997    12000
1998    15000
1999    20000
2000    23000
2001    25000
2002    17000
2003    14000
2004    21000
dtype: int64

Come si vede dalla cella scritta sopra il dizionario riporta un'unica riga con le chiavi separate dai valori dai due punti, e le chiavi sono uniche! Nella serie, i dati sono riportati in un array monodimensionale dove gli indici possono avere un valore ripetuto.
A differenza del dizionario, con le serie potremmo eseguire direttamente le operazioni di calcolo all'interno dei dati, poiché in un array possono essere rappresentati dati di un solo datatype.

In [16]:
import numpy as np
stipendi = np.array( [100, 200, 300, 400, 500,  600, 700, 800, 900, 1000] )

In [18]:
for stipendio in stipendi:
    print(stipendio * 2)

200
400
600
800
1000
1200
1400
1600
1800
2000

In [20]:
stipendi * 2

array([ 200,  400,  600,  800, 1000, 1200, 1400, 1600, 1800, 2000])

In [22]:
import math

In [26]:
dir(math)

['__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'acos',
 'acosh',
 'asin',
 'asinh',
 'atan',
 'atan2',
 'atanh',
 'cbrt',
 'ceil',
 'comb',
 'copysign',
 'cos',
 'cosh',
 'degrees',
 'dist',
 'e',
 'erf',
 'erfc',
 'exp',
 'exp2',
 'expm1',
 'fabs',
 'factorial',
 'floor',
 'fmod',
 'frexp',
 'fsum',
 'gamma',
 'gcd',
 'hypot',
 'inf',
 'isclose',
 'isfinite',
 'isinf',
 'isnan',
 'isqrt',
 'lcm',
 'ldexp',
 'lgamma',
 'log',
 'log10',
 'log1p',
 'log2',
 'modf',
 'nan',
 'nextafter',
 'perm',
 'pi',
 'pow',
 'prod',
 'radians',
 'remainder',
 'sin',
 'sinh',
 'sqrt',
 'tan',
 'tanh',
 'tau',
 'trunc',
 'ulp']

In [88]:
pd.DataFrame(mat, index=["Abbigliamento","Calzature","Sportivo"],
             columns=["gen","feb","mar","apr","mag"])

               gen  feb  mar  apr  mag
Abbigliamento    0    1    2    3    4
Calzature        5    6    7    8    9
Sportivo        10   11   12   13   14