In [2]:
pip install PyMySQL

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: PyMySQL in c:\users\hp\appdata\roaming\python\python311\site-packages (1.1.1)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install SQLAlchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: SQLAlchemy in c:\programdata\anaconda3\lib\site-packages (2.0.25)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from SQLAlchemy) (3.0.1)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install python_dotenv

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: python_dotenv in c:\programdata\anaconda3\lib\site-packages (0.21.0)
Note: you may need to restart the kernel to use updated packages.

In [13]:
import dotenv
import os
from sqlalchemy import create_engine
import pandas as pd

username = os.getenv("username")
password = os.getenv("password")
host = os.getenv("host")
dbname = os.getenv("dbname")

In [15]:
dotenv.load_dotenv(override=True)
conn_string = "mysql+pymysql://" + username + ":" + password + "@" + host + "/" + dbname
db_engine = create_engine(conn_string)

In [37]:
import pandas as pd
path_or_buf = "C:/Users/HP/Downloads/Mappa-dei-pub-circoli-locali-in-Italia.json"

In [43]:
pub_map = pd.read_json(path_or_buf, encoding="latin1")

In [45]:
pub_map

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.575830
1,ALTRO,ALTRO,ALTRO,Lenny's Pub,2011,2011-07-29T17:22:56Z,1375887295,12.418681,46.747584
2,ALTRO,ALTRO,ALTRO,Murrayfield Pub,2015,2015-10-24T09:28:06Z,3323888102,9.029585,45.831340
3,ALTRO,ALTRO,ALTRO,Snop?e,2010,2010-09-22T08:32:52Z,921157802,13.640939,45.954607
4,Ala di Stura,TORINO,Piemonte,,2012,2012-05-21T14:28:45Z,1760949034,7.307306,45.313150
...,...,...,...,...,...,...,...,...,...
2492,Barletta (BT),BARLETTA ANDRIA TRANI,Puglia,Santa Croce,2010,2010-01-17T16:15:08Z,615632993,16.285782,41.320671
2493,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Auld Dublin,2014,2014-03-03T20:56:16Z,2613737619,16.497204,41.241814
2494,Bisceglie (BT),BARLETTA ANDRIA TRANI,Puglia,Ferus,2014,2014-01-07T19:22:18Z,2613737620,16.506175,41.240957
2495,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Re Artù,2009,2009-09-04T07:57:05Z,482836935,16.418124,41.281518
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [57]:
print("Nella tabella ci sono",len(pub_map.columns)*len(pub_map.index),"dati.")

Nella tabella ci sono 22473 dati.

In [61]:
print("I metadati sono la seguente lista:",pub_map.columns,".")

I metadati sono la seguente lista: Index(['ccomune', 'cprovincia', 'cregione', 'cnome', 'canno_inserimento',
       'cdata_e_ora_inserimento', 'cidentificatore_in_openstreetmap',
       'clongitudine', 'clatitudine'],
      dtype='object') .

In [63]:
pub_map.head(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
0,ALTRO,ALTRO,ALTRO,,2011,2011-06-25T23:17:43Z,1339088150,13.733257,45.57583

In [65]:
pub_map.tail(1)

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
2496,Trani (BT),BARLETTA ANDRIA TRANI,Puglia,Well's Fargo,2009,2009-08-10T12:44:03Z,387223648,16.436765,41.267264

In [67]:
pub_map.sample()

,ccomune,cprovincia,cregione,cnome,canno_inserimento,cdata_e_ora_inserimento,cidentificatore_in_openstreetmap,clongitudine,clatitudine
1769,San Giustino,PERUGIA,Umbria,Red rose Valley,2016,2016-02-05T00:41:31Z,707352055,12.177946,43.547095

In [134]:
pub_map.groupby("canno_inserimento").size()

canno_inserimento
2007      1
2008     48
2009    109
2010    186
2011    244
2012    447
2013    405
2014    464
2015    527
2016     66
dtype: int64

In [188]:
pub_year = pub_map["canno_inserimento"].unique() #Mi stampa un array di anni
pub_year.sort() #Ordinamento di array, non di valori
pub_year #Il risultato ordinato lo si vede stampato sulla variabile

array([2007, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015, 2016],
      dtype=int64)

In [254]:
longitudine = (pub_map["clongitudine"] >= 9) & (pub_map["clongitudine"] <= 10)
latitudine = (pub_map["clatitudine"] >= 45) & (pub_map["clatitudine"] <= 46)
filtro_lat_lon = longitudine & latitudine
var = pub_map.loc[filtro_lat_lon]
var.shape[0]

303

In [298]:
vicenza = pub_map["cprovincia"] == "VICENZA"
pub_vicenza = pub_map.loc[vicenza]
pub_vicenza.shape[0] #0 tra parentesi quadre prende il numero di indice,
                    #se fosse scritto 1 prenderebbe il numero di colonne

73

In [382]:
#Metodo 1
lazio = pub_map.loc[pub_map["cregione"] == "Lazio"]
abruzzo = pub_map.loc[pub_map["cregione"] == "Abruzzo"]
laz_abr = lazio+abruzzo
num_laz_abr = laz_abr.shape[0]
num_laz_abr

237

In [384]:
#Metodo 2
num_lazio = lazio.shape[0]
num_abruzzo = abruzzo.shape[0]
num_laz_abr2 = num_lazio + num_abruzzo
num_laz_abr2

237

In [141]:
file_path = "C:/Users/HP/Downloads/archive/beginner_datasets/iris.csv"
iris = pd.read_csv(file_path)
iris

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

In [162]:
len_iris = iris["petal_length"].mean()
len_iris

3.758666666666666

In [164]:
len_iris_species = iris.groupby("species")["petal_length"].mean()
len_iris_species

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64

In [172]:
iris_species_agg = iris.groupby("species")["petal_length"].agg("mean","min","max")
iris_species_agg

species
Iris-setosa        1.464
Iris-versicolor    4.260
Iris-virginica     5.552
Name: petal_length, dtype: float64